#navbar{
flex-direction: column;
}
#navbar ul li a{
    /* font-size: 1rem; */
    padding: 0px 20px;
    padding-bottom: 10px;
}



#home{
height: 385px;
height: 500px;
}

#home::before{
    height: 610px;
}

#home p{
    font-size: 1.15rem;
}

#services{
flex-direction: column;
}
.btn{
    font-size: 15px;
    padding: 4px 15px;
}
#services .box{
    padding: 19px;
    margin: 2px 0px;
    margin-bottom: 24px;
}
#services .box img{
    height: 173px;
    width: 159px;
    margin: auto;
    display: block;
}
#services #cashew{
    /* height: 1px; */
    width: 168px;
    height: auto;
    
}



#clients{
flex-wrap: wrap;
}
#clients img{
    height: 67px;
    width: auto;
    padding: 2px 6px;

}
.contact-box form{
    width: 80%;
}

/* utility classes */
.h-primary{
    font-size: 42px;
}